In [158]:
import pandas as pd 
 
import numpy as np 
 
import matplotlib.pyplot as plt 
 
%matplotlib inline

#### 1. Read the dataset using pandas.

In [159]:
ratings =pd.read_csv(r'C:\Users\sanka\DataScience\Class6\ml-20m/ratings.csv') 
ratings.head(2)

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676

In [160]:
tags =pd.read_csv(r'C:\Users\sanka\DataScience\Class6\ml-20m/tags.csv') 
tags.head(2)

   userId  movieId          tag   timestamp
0      18     4141  Mark Waters  1240597180
1      65      208    dark hero  1368150078

In [161]:
movies =pd.read_csv(r'C:\Users\sanka\DataScience\Class6\ml-20m/movies.csv') 
movies.head(2)

   movieId             title                                       genres
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
1        2    Jumanji (1995)                   Adventure|Children|Fantasy

#### 2. Extract the first row from tags and print its type.

In [162]:
tags.loc[0]

userId                18
movieId             4141
tag          Mark Waters
timestamp     1240597180
Name: 0, dtype: object

#### 3. Extract row 0, 11, 2000 from tags DataFrame.

In [163]:
tags.loc[[ 0,11, 2000], :]

      userId  movieId                tag   timestamp
0         18     4141        Mark Waters  1240597180
11        65     1783      noir thriller  1368149983
2000     910    68554  conspiracy theory  1368043943

 ### 4.Print index, columns of the DataFrame.

In [164]:
print(ratings.index)
print(ratings.columns)

RangeIndex(start=0, stop=20000263, step=1)
Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [165]:
print(tags.index)
print(tags.columns)

RangeIndex(start=0, stop=465564, step=1)
Index(['userId', 'movieId', 'tag', 'timestamp'], dtype='object')

In [166]:
print(movies.index)
print(movies.columns)

RangeIndex(start=0, stop=27278, step=1)
Index(['movieId', 'title', 'genres'], dtype='object')

#### 5. Calculate descriptive statistics for the 'ratings' column of the ratings DataFrame. Verify using describe().

In [167]:
ratings.info()
ratings['rating'].describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000263 entries, 0 to 20000262
Data columns (total 4 columns):
userId       int64
movieId      int64
rating       float64
timestamp    int64
dtypes: float64(1), int64(3)
memory usage: 610.4 MB

count    2.000026e+07
mean     3.525529e+00
std      1.051989e+00
min      5.000000e-01
25%      3.000000e+00
50%      3.500000e+00
75%      4.000000e+00
max      5.000000e+00
Name: rating, dtype: float64

#### 6. Filter out ratings with rating > 5

In [168]:
ratings[(ratings.rating > 5)]

Empty DataFrame
Columns: [userId, movieId, rating, timestamp]
Index: []

#### 7. Find how many null values, missing values are present. Deal with them. Print out how many rows have been modified.

In [169]:
print(tags.isnull().sum())
print(tags.isna().sum())

userId        0
movieId       0
tag          16
timestamp     0
dtype: int64
userId        0
movieId       0
tag          16
timestamp     0
dtype: int64

In [170]:
tags['tag'].fillna(tags['tag'].dropna().describe()['top'], inplace = True)

In [171]:
print(tags.isnull().sum())
print(tags.isna().sum())

userId       0
movieId      0
tag          0
timestamp    0
dtype: int64
userId       0
movieId      0
tag          0
timestamp    0
dtype: int64

#### 8. Filter out movies from the movies DataFrame that are of type 'Animation'.

In [172]:
movies[movies['genres'].str.contains("Animation")]

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
12,13,Balto (1995),Adventure|Animation|Children
47,48,Pocahontas (1995),Animation|Children|Drama|Musical|Romance
236,239,"Goofy Movie, A (1995)",Animation|Children|Comedy|Romance
241,244,Gumby: The Movie (1995),Animation|Children
310,313,"Swan Princess, The (1994)",Animation|Children
360,364,"Lion King, The (1994)",Adventure|Animation|Children|Drama|Musical|IMAX
388,392,"Secret Adventures of Tom Thumb, The (1993)",Adventure|Animation
547,551,"Nightmare Before Christmas, The (1993)",Animation|Children|Fantasy|Musical
553,558,"Pagemaster, The (1994)",Action|Adventure|Animation|Children|Fantasy
582,588,Aladdin (1992),Adventure|Animation|Children|Comedy|Musical
588,594,Snow White and the Seven Dwarfs (1937),Animation|Children|Drama|Fantasy|Musical
589,595,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX
590,596,Pinocchio (1940),Animation|Children|Fantasy|Musical
604,610,Heavy Metal (1981),Action|Adventure|Animation|Horror|Sci-Fi
610,616,"Aristocats, The (1970)",Animation|Children
624,631,All Dogs Go to Heaven 2 (1996),Adventure|Animation|Children|Fantasy|Musical|R...
653,661,James and the Giant Peach (1996),Adventure|Animation|Children|Fantasy|Musical
664,673,Space Jam (1996),Adventure|Animation|Children|Comedy|Fantasy|Sc...
697,709,Oliver & Company (1988),Adventure|Animation|Children|Comedy|Musical
708,720,Wallace & Gromit: The Best of Aardman Animatio...,Adventure|Animation|Comedy
728,741,Ghost in the Shell (Kôkaku kidôtai) (1995),Animation|Sci-Fi
732,745,Wallace & Gromit: A Close Shave (1995),Animation|Children|Comedy
770,783,"Hunchback of Notre Dame, The (1996)",Animation|Children|Drama|Musical|Romance
871,888,Land Before Time III: The Time of the Great Gi...,Adventure|Animation|Children|Musical
1003,1022,Cinderella (1950),Animation|Children|Fantasy|Musical|Romance
1004,1023,Winnie the Pooh and the Blustery Day (1968),Animation|Children|Musical
1005,1024,"Three Caballeros, The (1945)",Animation|Children|Musical
1006,1025,"Sword in the Stone, The (1963)",Animation|Children|Fantasy|Musical
1010,1029,Dumbo (1941),Animation|Children|Drama|Musical
...,...,...,...
27007,129830,Animals United (2011),Animation|Children|Comedy
27008,129834,Tom and Jerry: The Lost Dragon (2014),Animation|Children|Comedy
27018,129859,Mardock Scramble: The Second Combustion (2011),Animation|Sci-Fi
27054,130034,Stand by Me Doraemon (2014),Animation|Children|Drama|Fantasy
27070,130075,Frozen Fever (2015),Adventure|Animation
27103,130394,The Mascot (1934),Animation
27107,130402,Cardcaptor Sakura: The Sealed Card (2000),Adventure|Animation|Comedy|Fantasy|Romance
27129,130506,Berserk: The Golden Age Arc 2 - The Battle for...,Action|Animation|Fantasy
27130,130508,Berserk: The Golden Age Arc - The Egg of the K...,Action|Adventure|Animation|Fantasy|Horror
27131,130510,Berserk: The Golden Age Arc 3 - Descent (2013),Action|Animation|Fantasy
27135,130518,The Amazing Screw-On Head (2006),Action|Adventure|Animation|Comedy|Sci-Fi
27136,130520,Home (2015),Animation|Children|Comedy|Fantasy|Sci-Fi
27137,130522,The Brave Little Toaster Goes to Mars (1998),Animation|Children
27155,130644,The Garden of Sinners - Chapter 5: Paradox Par...,Animation
27205,131058,Santa's Apprentice (2010),Animation|Children
27208,131066,Ronal the Barbarian (2011),Adventure|Animation|Fantasy
27215,131080,Cinderella III: A Twist in Time (2007),Animation|Children|Fantasy|Romance
27218,131086,The Little Polar Bear: Lars and the Little Tig...,Animation|Children
27221,131092,"Mickey, Donald, Goofy: The Three Musketeers (2...",Adventure|Animation|Children|Comedy
27222,131094,Rudolph the Red-Nosed Reindeer: The Movie (1998),Animation|Children
27224,131098,Saving Santa (2013),Animation|Children|Comedy
27226,131102,Lucky Luke: The Ballad of the Daltons (1978),Animation|Children|Comedy|Western
27228,131106,Casper's Haunted Christmas (2000),Animation|Children
27235,131120,Superstar Goofy (1991),Animation|Children|Comedy
27240,131130,Tom and Jerry: A Nutcracker Tale (2007),Animation|Comedy
27241,131132,Kleines Arschloch - Der Film (1997),Animation|Comedy
27247,131144,Werner - Das muss kesseln!!! (1996),Animation|Comedy
27248,131146,Werner - Volles Rooäää (1999),Animation|Comedy
27269,131243,Werner - Gekotzt wird später (2003),Animation|Comedy
27270,131248,Brother Bear 2 (2006),Adventure|Animation|Children|Comedy|Fantasy

#### 9. Find the average rating of movies.

In [173]:
movies_rating=movies.merge(ratings,on='movieId')
movies_rating['rating'].mean()

3.5255285642993797

#### 10. Perform an inner join of movies and tags based on movieId

In [174]:
innerdf=pd.merge(movies,
                 tags,
                 on='movieId', 
                 how='inner')
innerdf.head()

,movieId,title,genres,userId,tag,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1644,Watched,1417736680
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,computer animation,1183903155
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,Disney animated feature,1183933307
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,Pixar animation,1183934770
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,TÃ©a Leoni does not star in this movie,1245093573

#### 11. Print out the 5 movies that belong to the Comedy genre and have rating greater than 4.

In [175]:
df=pd.merge(movies,
                 ratings,
                 on='movieId', 
                 how='inner')

In [176]:
topmovies_comedy=df[(df['genres'].str.contains('Comedy')) & (df['rating'] > 4) ].title.unique()
for i in topmovies_comedy[0:5]:
    print(i)

Toy Story (1995)
Grumpier Old Men (1995)
Waiting to Exhale (1995)
Father of the Bride Part II (1995)
Sabrina (1995)

#### 12. Split 'genres' into multiple columns.

In [177]:
pd.DataFrame(movies['genres'].str.split('|', expand=True))

,0,1,2,3,4,5,6,7,8,9
0,Adventure,Animation,Children,Comedy,Fantasy,None,None,None,None,None
1,Adventure,Children,Fantasy,None,None,None,None,None,None,None
2,Comedy,Romance,None,None,None,None,None,None,None,None
3,Comedy,Drama,Romance,None,None,None,None,None,None,None
4,Comedy,None,None,None,None,None,None,None,None,None
5,Action,Crime,Thriller,None,None,None,None,None,None,None
6,Comedy,Romance,None,None,None,None,None,None,None,None
7,Adventure,Children,None,None,None,None,None,None,None,None
8,Action,None,None,None,None,None,None,None,None,None
9,Action,Adventure,Thriller,None,None,None,None,None,None,None
10,Comedy,Drama,Romance,None,None,None,None,None,None,None
11,Comedy,Horror,None,None,None,None,None,None,None,None
12,Adventure,Animation,Children,None,None,None,None,None,None,None
13,Drama,None,None,None,None,None,None,None,None,None
14,Action,Adventure,Romance,None,None,None,None,None,None,None
15,Crime,Drama,None,None,None,None,None,None,None,None
16,Drama,Romance,None,None,None,None,None,None,None,None
17,Comedy,None,None,None,None,None,None,None,None,None
18,Comedy,None,None,None,None,None,None,None,None,None
19,Action,Comedy,Crime,Drama,Thriller,None,None,None,None,None
20,Comedy,Crime,Thriller,None,None,None,None,None,None,None
21,Crime,Drama,Horror,Mystery,Thriller,None,None,None,None,None
22,Action,Crime,Thriller,None,None,None,None,None,None,None
23,Drama,Sci-Fi,None,None,None,None,None,None,None,None
24,Drama,Romance,None,None,None,None,None,None,None,None
25,Drama,None,None,None,None,None,None,None,None,None
26,Children,Drama,None,None,None,None,None,None,None,None
27,Drama,Romance,None,None,None,None,None,None,None,None
28,Adventure,Drama,Fantasy,Mystery,Sci-Fi,None,None,None,None,None
29,Crime,Drama,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...
27248,Animation,Comedy,None,None,None,None,None,None,None,None
27249,Comedy,Romance,None,None,None,None,None,None,None,None
27250,Comedy,None,None,None,None,None,None,None,None,None
27251,Comedy,None,None,None,None,None,None,None,None,None
27252,Comedy,None,None,None,None,None,None,None,None,None
27253,Comedy,None,None,None,None,None,None,None,None,None
27254,Comedy,None,None,None,None,None,None,None,None,None
27255,Drama,None,None,None,None,None,None,None,None,None
27256,Drama,Romance,None,None,None,None,None,None,None,None
27257,War,None,None,None,None,None,None,None,None,None
27258,(no genres listed),None,None,None,None,None,None,None,None,None
27259,Drama,None,None,None,None,None,None,None,None,None
27260,Sci-Fi,None,None,None,None,None,None,None,None,None
27261,(no genres listed),None,None,None,None,None,None,None,None,None
27262,Drama,Romance,Thriller,None,None,None,None,None,None,None
27263,Drama,None,None,None,None,None,None,None,None,None
27264,Action,Horror,Thriller,None,None,None,None,None,None,None
27265,Comedy,Romance,None,None,None,None,None,None,None,None
27266,Comedy,None,None,None,None,None,None,None,None,None
27267,Comedy,Drama,None,None,None,None,None,None,None,None
27268,Comedy,Romance,None,None,None,None,None,None,None,None
27269,Animation,Comedy,None,None,None,None,None,None,None,None
27270,Adventure,Animation,Children,Comedy,Fantasy,None,None,None,None,None
27271,Comedy,None,None,None,None,None,None,None,None,None
27272,Comedy,Horror,None,None,None,None,None,None,None,None
27273,Comedy,None,None,None,None,None,None,None,None,None
27274,Comedy,None,None,None,None,None,None,None,None,None
27275,Adventure,None,None,None,None,None,None,None,None,None
27276,(no genres listed),None,None,None,None,None,None,None,None,None
27277,Adventure,Fantasy,Horror,None,None,None,None,None,None,None

#### 13. Extract year from title e.g. (1995).

In [178]:
movies['year'] = movies['title'].head().str.extract(r'\((\d{4})\)')
movies.head()

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995

#### 14. Select rows based on timestamps later than 2015-02-01.

In [180]:
import datetime

ratings['date'] = pd.to_datetime(ratings['timestamp'],unit='s')

#ratings[ratings['date' > datetime.date(2015, 2, 1)]]
ratings[ratings['date'] > '2015-02-01']

          userId  movieId  rating   timestamp                date
3534          31        1     3.0  1424733487 2015-02-23 23:18:07
3535          31      110     5.0  1424733473 2015-02-23 23:17:53
3536          31      260     5.0  1424733433 2015-02-23 23:17:13
3537          31      364     3.0  1424844807 2015-02-25 06:13:27
3538          31      527     0.5  1424733598 2015-02-23 23:19:58
3539          31      588     3.0  1424842869 2015-02-25 05:41:09
3540          31      594     2.5  1424844811 2015-02-25 06:13:31
3541          31      616     4.0  1424844817 2015-02-25 06:13:37
3542          31     1196     5.0  1424733435 2015-02-23 23:17:15
3543          31     1197     3.0  1424734492 2015-02-23 23:34:52
3544          31     1207     0.5  1424734478 2015-02-23 23:34:38
3545          31     1210     5.0  1424733439 2015-02-23 23:17:19
3546          31     1214     0.5  1424733574 2015-02-23 23:19:34
3547          31     1270     4.0  1424733467 2015-02-23 23:17:47
3548          31     2096     2.0  1424844830 2015-02-25 06:13:50
3549          31     2571     4.5  1424736532 2015-02-24 00:08:52
3550          31     2959     2.0  1424734458 2015-02-23 23:34:18
3551          31     3300     5.0  1424733940 2015-02-23 23:25:40
3552          31     3483     4.0  1424735625 2015-02-23 23:53:45
3553          31     3555     3.0  1424734355 2015-02-23 23:32:35
3554          31     3615     3.0  1424734207 2015-02-23 23:30:07
3555          31     3624     3.0  1424733917 2015-02-23 23:25:17
3556          31     3671     5.0  1424733819 2015-02-23 23:23:39
3557          31     3751     4.0  1424736599 2015-02-24 00:09:59
3558          31     3793     4.5  1424734262 2015-02-23 23:31:02
3559          31     3916     4.5  1424734610 2015-02-23 23:36:50
3560          31     4016     4.0  1424733990 2015-02-23 23:26:30
3561          31     4022     2.0  1424734536 2015-02-23 23:35:36
3562          31     4232     4.0  1424734082 2015-02-23 23:28:02
3563          31     4299     3.0  1424733987 2015-02-23 23:26:27
...          ...      ...     ...         ...                 ...
19983952  138380   106072     4.5  1425153394 2015-02-28 19:56:34
19983953  138380   106487     4.0  1425153305 2015-02-28 19:55:05
19983954  138380   106489     4.0  1425153324 2015-02-28 19:55:24
19983955  138380   106696     4.0  1425153364 2015-02-28 19:56:04
19983956  138380   106782     4.5  1425153588 2015-02-28 19:59:48
19983957  138380   106920     5.0  1425153307 2015-02-28 19:55:07
19983958  138380   108190     3.5  1425153468 2015-02-28 19:57:48
19983959  138380   109374     4.0  1425152897 2015-02-28 19:48:17
19983960  138380   109487     4.5  1425152894 2015-02-28 19:48:14
19983961  138380   110102     4.0  1425153224 2015-02-28 19:53:44
19983962  138380   110553     4.0  1425153540 2015-02-28 19:59:00
19983963  138380   111360     3.5  1425153526 2015-02-28 19:58:46
19983964  138380   111362     4.0  1425153019 2015-02-28 19:50:19
19983965  138380   111364     4.0  1425153496 2015-02-28 19:58:16
19983966  138380   111759     3.5  1425153226 2015-02-28 19:53:46
19983967  138380   112138     4.5  1425153501 2015-02-28 19:58:21
19983968  138380   112290     3.0  1425153597 2015-02-28 19:59:57
19983969  138380   112623     4.0  1425153434 2015-02-28 19:57:14
19983970  138380   112852     5.0  1425153302 2015-02-28 19:55:02
19983971  138380   114180     3.5  1425153569 2015-02-28 19:59:29
19983972  138380   115210     3.5  1425153106 2015-02-28 19:51:46
19983973  138380   115569     4.0  1425152902 2015-02-28 19:48:22
19983974  138380   115617     4.5  1425153625 2015-02-28 20:00:25
19990177  138414    72011     4.0  1424880202 2015-02-25 16:03:22
19990189  138414    79139     3.0  1425828597 2015-03-08 15:29:57
19990201  138414    83480     2.5  1425683309 2015-03-06 23:08:29
19990229  138414    95309     4.0  1424539555 2015-02-21 17:25:55
19990240  138414   100163     3.0  1425419383 2015-03-03 21:49:43
19990256  138414   112183     5.0  1424539388 2015-02-21 17:23:08
19990260  138414   117851     3.5  1424762730 2015-02-24 07:25:30

[176136 rows x 5 columns]

#### 15. Sort the tags DataFrame based on timestamp.

In [182]:
tags['date'] = pd.to_datetime(tags['timestamp'],unit='s')
tags.sort_values(by='date')

,userId,movieId,tag,timestamp,date
333932,100371,2788,monty python,1135429210,2005-12-24 13:00:10
333927,100371,1732,coen brothers,1135429236,2005-12-24 13:00:36
333924,100371,1206,stanley kubrick,1135429248,2005-12-24 13:00:48
333923,100371,1193,jack nicholson,1135429371,2005-12-24 13:02:51
333939,100371,5004,peter sellers,1135429399,2005-12-24 13:03:19
333922,100371,47,morgan freeman,1135429412,2005-12-24 13:03:32
333921,100371,47,brad pitt,1135429412,2005-12-24 13:03:32
333936,100371,4011,brad pitt,1135429431,2005-12-24 13:03:51
333937,100371,4011,guy ritchie,1135429431,2005-12-24 13:03:51
333920,100371,32,bruce willis,1135429442,2005-12-24 13:04:02
333933,100371,2858,kevin spacey,1135429466,2005-12-24 13:04:26
333931,100371,2329,fuckoff nazi,1135429508,2005-12-24 13:05:08
333930,100371,2329,edward norton,1135429508,2005-12-24 13:05:08
333944,100371,6016,brazil,1135429520,2005-12-24 13:05:20
15903,3797,110,overrated,1135589075,2005-12-26 09:24:35
256663,75141,4642,Terrible,1135688095,2005-12-27 12:54:55
15926,3797,8573,Nonlinear Surrealism,1135936223,2005-12-30 09:50:23
68928,16050,38886,twee,1136036612,2005-12-31 13:43:32
68924,16050,38886,eighties,1136036612,2005-12-31 13:43:32
68925,16050,38886,family,1136036612,2005-12-31 13:43:32
68926,16050,38886,new york,1136036612,2005-12-31 13:43:32
68927,16050,38886,overrated,1136036612,2005-12-31 13:43:32
68919,16050,7060,christian,1136039301,2005-12-31 14:28:21
68921,16050,7060,musical,1136039301,2005-12-31 14:28:21
68920,16050,7060,kitsch,1136039301,2005-12-31 14:28:21
68922,16050,7060,religious,1136039301,2005-12-31 14:28:21
68918,16050,6898,harsh,1136039368,2005-12-31 14:29:28
68916,16050,6898,british,1136039368,2005-12-31 14:29:28
68917,16050,6898,drugs,1136039368,2005-12-31 14:29:28
81444,20513,36529,truth,1136242623,2006-01-02 22:57:03
...,...,...,...,...,...
119997,28906,115149,violent,1427746031,2015-03-30 20:07:11
119991,28906,115149,lack of story,1427746053,2015-03-30 20:07:33
119993,28906,115149,over the top,1427746060,2015-03-30 20:07:40
119989,28906,115149,cheesy,1427746074,2015-03-30 20:07:54
405155,123297,128642,CLV,1427746337,2015-03-30 20:12:17
399877,123297,4211,CLV,1427746709,2015-03-30 20:18:29
400993,123297,6419,CLV,1427746864,2015-03-30 20:21:04
401017,123297,6481,CLV,1427747220,2015-03-30 20:27:00
405123,123297,118722,CLV,1427747321,2015-03-30 20:28:41
400106,123297,4573,CLV,1427747462,2015-03-30 20:31:02
150873,42640,115122,mockumentary,1427748778,2015-03-30 20:52:58
150871,42640,115122,comedy,1427748797,2015-03-30 20:53:17
150872,42640,115122,dark comedy,1427748808,2015-03-30 20:53:28
392905,122523,5004,USA,1427752289,2015-03-30 21:51:29
392904,122523,5004,party,1427752292,2015-03-30 21:51:32
290536,88044,106782,unsatisfying ending,1427753000,2015-03-30 22:03:20
290534,88044,106782,Orgies,1427753111,2015-03-30 22:05:11
290529,88044,106782,ENFP,1427753147,2015-03-30 22:05:47
290532,88044,106782,Left-Wing Propaganda,1427753266,2015-03-30 22:07:46
290533,88044,106782,Left-Wing Writers,1427753621,2015-03-30 22:13:41
290528,88044,106782,Economically Illiterate Writers,1427753739,2015-03-30 22:15:39
290530,88044,106782,inaccurate,1427753806,2015-03-30 22:16:46
290531,88044,106782,Jonah Hill,1427753849,2015-03-30 22:17:29
290526,88044,106782,Amoral,1427753913,2015-03-30 22:18:33
290527,88044,106782,crime,1427753921,2015-03-30 22:18:41
290535,88044,106782,profanity,1427754096,2015-03-30 22:21:36
288375,87797,215,Vienna,1427755801,2015-03-30 22:50:01
158763,46072,3409,premonition,1427760726,2015-03-31 00:12:06
158780,46072,6058,premonition,1427760764,2015-03-31 00:12:44
339178,102853,115149,russian mafia,1427771352,2015-03-31 03:09:12